* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 130%;
}

/*Typography*/

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 3rem;
}

.title h3 {
  font-size: 1.3rem;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn {
  font-size: 1.8rem;
  font-weight: 700;
}

.temperature-description {
  font-size: 1.7rem;
  font-weight: 700;
}

.degree-section h2 {
  font-size: 40px;
}

.temperature-degree {
  font-size: 70px;
}

.temperature-unit {
  font-size: 3rem;
}

/*Background*/

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* content */

h1 {
  color: white;
  align-self: auto;
  margin-bottom: 20px;
  background: rgba(231, 60, 126, 0.9);
  padding: 25px;
  border-radius: 150px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.title h3 {
  margin: 5px;
  padding-bottom: 20px;
  align-self: center;
}

.temperature-unit {
  font-weight: 700;
  font-size: 3rem;
}

.temperature {
  height: 30vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  margin: 20px 40px 20px 40px;
  display: flex;
  width: 90%;
  height: 30vh;
  justify-content: space-between;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.temperature-description {
  padding-bottom: 20px;
  animation-delay: 0.8s;
}

.degree-section span {
  margin: 10px;
}

.location-timezone {
  align-self: flex-start;
  padding-right: 30px;
}

.location-specific {
  max-width: 400px;
}

.btn {
  background: rgba(231, 60, 126, 0.9);
  border-radius: 100px;
  border: 0;
  box-shadow: 0 0 9px -2px rgba(0, 0, 0, 0.19);
  color: white;
  cursor: pointer;

  padding: 25px 20px 25px 20px;
  margin-top: 60px;
}

.btn:hover {
  background: midnightblue;
  transform: scale(97%);
  animation: ease-in;
  transition: 1s;
}

.degree-section:hover {
  color: midnightblue;
  transition: 0.5s;
}

.content__small {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  margin: 60px 20px 40px 20px;
}

.clouds-section {
  height: 35vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0 15px 0;
}

.clouds-section:hover {
  transform: scale(1.1);
  animation: ease-in;
  transition: 0.7s;
}

.clouds-section h2 {
  font-size: 1.9rem;
}

.content-grid {
  display: flex;
  width: 45vw;
  justify-content: center;
}

.icon {
  width: 7rem;
}

.icon__cloud,
.icon__pressure,
.icon__humidity {
  max-width: 5.5rem;
}

/*Mobile and tablet screens*/

@media screen and (max-width: 889px) {
  .content {
    width: 90vw;
    padding-top: 60px;
  }

  .location {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .location-timezone {
    padding: 0;
  }

  .icon {
    padding: 30px;

    width: 10rem;
    align-self: center;
  }

  h2 {
    font-size: 2.2rem;
    text-align: left;
  }

  .title h3 {
    margin: 0;
    padding-bottom: 20px;
  }

  .temperature-degree {
    font-size: 2.5rem;
  }

  .temperature-unit {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }

  .content-grid {
    display: flex;
    flex-direction: column;
    width: 96vw;
  }

  .content__small {
    margin: 40px 20px 20px 20px;
    height: 80%;
  }

  .clouds-section {
    height: 50%;
    padding: 30px 0 30px 0;
  }
}
